*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.log
*.nav
*.orig
*.pyc
*.swp
*~
.*.swp
*.hprof
